*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    height: 100%;
}
.main_privacy{
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.privacy_policy{
     width: 70vw;
    
      background-color: rgb(212, 241, 241);
     display: flex;
     flex-direction: column;
     align-items:center;
     
}

.privacy_policy h1{
    font-size: 10vh;
    padding-top: 2vh;
    background-image: linear-gradient(rgb(0, 128, 255), rgb(28, 28, 255));
    color: transparent;
    background-clip: text;
}
.privacy_content{
 width: 70vw;
 background-color: rgb(212, 241, 241);
 display: flex;
 flex-direction: column; 
 height: 100vh;
}
.privacy_content p{
    padding-bottom: 1vh;
    padding-left: 1vh;
}
.privacy_content i{
    /* padding-bottom: 1vh; */
    padding-left: 1vh;
}