*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    /* height: 100%;
    width: 100%; */
    /* background-image: linear-gradient(to right, rgb(192, 175, 175) , rgb(225, 209, 232)); */
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
    height: 70px;
    width: 62vw;
    background-color: rgb(255, 246, 251);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    border-radius: 8px;
    margin-top: 20px;
}
.nav_part{
    height: 100%;
}
#nav_part1{
    width: 20%;
 /* background-color: aqua; */
}


/* #nav_part1 img{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    object-fit: cover;
    object-position: center;
} */

#nav_part1 h2{
text-align: center;
padding-top: 21px
}

#nav_part1 h2 span{
    color: #0432ff;
}

#nav_part2{
    width: 60%;
   /* background-color: blue;  */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}
#nav_part2 a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}
#nav_part2 a:hover{
    color: #7521fd;
    text-decoration: underline;
}

#nav_part3{
    width: 20%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right:6px;
}
#nav_part3 button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 8px;
    border: none;
}
.ri-menu-line{
    display: none;
}
#nav_part3 button a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#nav_part3 button:hover{
    background-color: #7521fd;
}


/* navbar completed here */
.page1{
    height: 100vh;
    width:62.5vw;
    /* background-image: linear-gradient(to right, rgba(139, 173, 195, 0.53) , rgba(137, 102, 154, 0.507)); */
    background-color: rgb(4, 27, 5);
    color: white;
    text-align: center;
    padding-top: 100px;
    border-bottom: 1px solid;
}
.page1 h1{
    margin-top: 100px;
    margin-bottom: 50px;
font-size: 70px;
background: -webkit-linear-gradient(#1ea5ff, #7521fd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.page1 #para1{
margin-top: 30px;
margin-bottom: 30px;
padding-bottom: 20px;
font-size: 20px;
}
.page1 button{
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
padding-bottom:20px ;
font-size: 20px;
border: none;
border-radius: 10px;
background-color: black;
color: white;
}

.page1 button:hover{
background-color: #1a66d0;
color: azure;
}

.page1 #para2{
padding-top: 20px;
font-size: 20px;
padding-bottom: 20px;
}
.page1 img{
height: 5vh;
width: 30vw;
/* margin-top: 40px; */
object-fit: cover;
object-position: center;
}
/*------------------------------- page 01 css end here ---------------------------*/
.page2{
    height: 100vh;
    width: 62.5vw;
    background-color: blue;
}

.page2{
    width: 62.5vw;
    height: 100vh;
    background-color: rgb(5, 29, 14);  
}
/* -----------page2-----part1 */
.page2_part1{
 height: 25vh;
 width: 62.5vw;
 /* background-color: #1ea5ff; */
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: center; */

}
.page2_part1 img{
 height: 65px;
 width: 65px;
 object-fit: contain;
 object-position: center;
 padding-top: 20px;
}
.page2_part1 h2{
 font-size: 70px;
 padding-top: 10px;
 background: -webkit-linear-gradient(#b0d7da, #ff02dd);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
/*---------- page2--------- part2*/
.page2_part2{
   height: 60vh;
   width: 61.5vw;
    /* background-image: conic-gradient(rgba(187, 110, 173, 0.68), rgba(105, 105, 74, 0.944), rgba(91, 116, 91, 0.565), rgba(172, 172, 181, 0.476), rgb(66, 54, 54)); */
    background-color: azure;
   /* border-top: 2px solid rgb(255, 18, 18); */
    box-shadow: -0.001vh -0.01vh 0.8vh  0.2vh rgb(128, 22, 249);
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin: 2vh; */
   color: rgb(0, 0, 0);
   margin: auto;
   border-radius: 4vh;
}

/* ----------page2_part2_left----------- */
.page2_part2_left{
height: 60vh;
width: 31.2vw;
/* background-color: #7521fd; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px;
gap: 80px;

}
.page2_part2_left_box1{
    display: flex;
    gap: 20px;
}
.page2_part2_left_box2{
    display: flex;
    gap: 20px;
}
.page2_part2_left_box3{
    display: flex;
    gap: 20px;
}
/* ----------page2_part2_right----------- */
 .page2_part2_right{
    height: 60vh;
    width: 31.2vw;
    /* background-color: #fd5121; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 80px;
}
.page2_part2_right_box1{
    display: flex;
    gap: 20px;
}
.page2_part2_right_box2{
    display: flex;
    gap: 20px;
}
.page2_part2_right_box3{
    display: flex;
    gap: 20px;
}


/* --------page2----part3---------- */
.page2_part3{
height: 15vh;
width: 62.5vw;
/* background-color: coral; */
display: flex;
justify-content: center;
align-items: center;
}
.page2_part3 button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    text-decoration: none;
} 
.page2_part3 button a{
    text-decoration: none;
}

.page2_part3 button:hover{
background-color: #eed6016b;
/* color: azure; */
box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ;
}



.page3{
    height: 70vh;
    width: 62.5vw;
    background-image: conic-gradient(rgba(187, 110, 173, 0.68), rgba(105, 105, 74, 0.539), rgba(91, 116, 91, 0.565), blue, rgb(66, 54, 54));
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3_part1{
   height: 70vh;
   width: 31.5vw;
   /* background-color: chartreuse; */
}

.page3_part1 img{
    height: 70vh;
    width: 31.5vw;
}

.page3_part2{
    height: 64vh;
    width: 31.5vw;

    box-shadow: -0.1vh -0.2vh 1vh  0.1vh rgb(133, 128, 128);
    background-color: rgb(5, 35, 20);
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    color: white;
}
#p3p1-p1{
    /* background: linear-gradient(to left , blue,pink); */
    background-color: #0432ff;
    border-radius: 1vh;
    padding: 0.5vh;
    color: white;
}
#p3p1-h2{
    font-size: 5vh; 
    /* font-size: 72px; */
  background: -webkit-linear-gradient(#1a66d0, #2abcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.botton_div{
    margin-top: 3vh;
}
#p3p1-p2{
padding-left: 10vh;
padding-right: 8vh;
font-size: 2vh;
}
#p3p1-button{
 padding-left: 1vh;
 padding-right: 1vh;
 padding-top: 0.5vh;
 padding-bottom: 0.5vh;
 border: none;
 font-size: 2vh;
 border-radius: 1vh;
 background-color: #a89c9c;
}

/* page3 complete here ✅ */


/* page4 css start here 👇 */ 

.page4{
    height: 70vh;
    width: 62.5vw;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    /* margin-top: 3vh; */
    gap: 1vh;
}

.page4_part1{
    height: 65vh;
    width: 30vw;
    background-color: rgb(10, 37, 19);
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page4_part1{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 7vh;
    padding-top: 10vh;
    box-shadow: -0.2vh -0.001vh 0.5vh 0.5vh rgb(63, 105, 105) ; 
}

.page4_part1_content_1{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}

.page4_part1_content_1 p{
 font-weight: 900;
}

.page4_part1_content_2{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}
.page4_part1_content_2 h2{
    font-size: 3vh;
    font-size: 72px;
  background: -webkit-linear-gradient(#0432ff, #06b7e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page4_part1_content_3{
  padding-bottom: 2vh;
  padding-top: 3vh;
  color: white;
  width: 20vw;
}
.page4_part1_content_3 p{
    font-size: 2.5vh;
}

.page4_part1_content_4{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
  display: flex;
  gap: 2vh;

}

.page4_part1_content_4 button{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #c5b4b4;
}

.page4_part2{
    height: 65vh;
    width: 30vw;
    background-color:rgb(78, 185, 185);
    
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page4_part2 img{
     height: 65vh;
    width: 30vw;
        border-bottom-left-radius: 2vh;
    border-top-left-radius:2vh ;
    border-bottom-right-radius: 2vh;
    border-top-right-radius:2vh ;
}

.page5{
    height: 70vh;
    width: 62.5vw;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    /* margin-top: 3vh; */
    gap: 1vh;
}

.page5_part1{
    height: 65vh;
    width: 30vw;
    background-color: rgb(186, 199, 0);
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page5_part1 img{
     height: 65vh;
    width: 30vw;
        border-bottom-left-radius: 2vh;
    border-top-left-radius:2vh ;
    border-bottom-right-radius: 2vh;
    border-top-right-radius:2vh ;
}

/* page5_part2 start here */


.page5_part2{
    height: 65vh;
    width: 30vw;
    background-color: #08270d;
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page5_part2{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 7vh;
    padding-top: 10vh;
    box-shadow: -0.2vh -0.001vh 0.5vh 0.5vh rgb(63, 105, 105) ; 
}

.page5_part2_content_1{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}

.page5_part2_content_1 p{
 font-weight: 900;
}

.page5_part2_content_2{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}
.page5_part2_content_2 h2{
    font-size: 3vh;
    font-size: 72px;
  background: -webkit-linear-gradient(#0432ff, #06b7e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page5_part2_content_3{
  padding-bottom: 2vh;
  padding-top: 3vh;
  color: white;
  width: 20vw;
}
.page5_part2_content_3 p{
    font-size: 2.5vh;
}

.page5_part2_content_4{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
  display: flex;
  gap: 2vh;

}

.page5_part2_content_4 button{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #c5b4b4;
}



/* page5_part2 end here */


.page6{
    height: 70vh;
    width: 62.5vw;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    /* margin-top: 3vh; */
    gap: 1vh;
}




.page6_part1{
    height: 65vh;
    width: 30vw;
    background-color: rgb(154, 47, 158);
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.page6_part1{
    height: 65vh;
    width: 30vw;
    background-color: rgb(10, 37, 14);
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page6_part1{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 7vh;
    padding-top: 10vh;
    box-shadow: -0.2vh -0.001vh 0.5vh 0.5vh rgb(63, 105, 105) ; 
}

.page6_part1_content_1{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}

.page6_part1_content_1 p{
 font-weight: 900;
}

.page6_part1_content_2{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}
.page6_part1_content_2 h2{
    font-size: 3vh;
    font-size: 72px;
  background: -webkit-linear-gradient(#0432ff, #06b7e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page6_part1_content_3{
  padding-bottom: 2vh;
  padding-top: 3vh;
  color: white;
  width: 20vw;
}
.page6_part1_content_3 p{
    font-size: 2.5vh;
}

.page6_part1_content_4{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
  display: flex;
  gap: 2vh;

}

.page6_part1_content_4 button{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #c5b4b4;
}


.page6_part2{
    height: 65vh;
    width: 30vw;
    background-color: #40dce2;
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.page6_part2 img{
     height: 65vh;
    width: 30vw;
        border-bottom-left-radius: 2vh;
    border-top-left-radius:2vh ;
    border-bottom-right-radius: 2vh;
    border-top-right-radius:2vh ;
}

.page7{
    height: 70vh;
    width: 62.5vw;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    /* margin-top: 3vh; */
    gap: 1vh;
}

.page7_part1{
    height: 65vh;
    width: 30vw;
    background-color: rgb(32, 15, 32);
    /* box-shadow: -0.2vh -0.001vh 1vh 0.9vh rgb(46, 55, 55) ; */
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.page7_part1 img{
     height: 65vh;
    width: 30vw;
        border-bottom-left-radius: 2vh;
    border-top-left-radius:2vh ;
    border-bottom-right-radius: 2vh;
    border-top-right-radius:2vh ;
}

.page7_part2{
    height: 65vh;
    width: 30vw;
    background-color: #1a2109;
    border-bottom-left-radius: 15vh;
    border-top-left-radius:15vh ;
    border-bottom-right-radius: 15vh;
    border-top-right-radius:15vh ;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: azure;
}
.page7_part2{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 7vh;
    padding-top: 10vh;
    box-shadow: -0.2vh -0.001vh 0.5vh 0.5vh rgb(63, 105, 105) ; 
}

.page7_part2_content_1{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
}

.page7_part2_content_1 p{
 font-weight: 900;
}

.page7_part2_content_2{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
  
}
.page7_part2_content_2 h2{   
  background: -webkit-linear-gradient(#0432ff, #06b7e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page7_part2_content_3{
  padding-bottom: 2vh;
  padding-top: 3vh;
  color: white;
  width: 20vw;
}
.page7_part2_content_3 p{
    font-size: 2.5vh;
}

.page7_part2_content_4{
  padding-bottom: 3vh;
  padding-top: 3vh;
  color: white;
  display: flex;
  gap: 2vh;

}

.page7_part2_content_4 button{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.8vh;
    border: none;
    border-radius: 2vh;
    background-color: #c5b4b4;
}

.page8{
    height: 90vh;
    width: 62.5vw;
    background-color: rgb(14, 24, 24);
    border-radius: 5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page8_part1{
height: 18vh;
width: 62.5vw;
/* background-color: chartreuse; */
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid;
}
.page8_part1 p{
    color: white;
}

.page8_part2{
height: 18vh;
width: 62.5vw;
/* background-color: rgb(255, 0, 0);  */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center; 
border-bottom: 0.01vh solid black;
}

.page8_part2 h2{
  font-size: 4vh;
  padding-bottom: 2vh;
} 
.page8_part2 p{
 font-size: 2.5vh;
}

.page8_part3{
height: 36vh;
width: 62.5vw;
/* background-color: rgb(247, 0, 255);  */
display: flex; 
}


.page8_part3_left{
 height: 100%;
 width: 50%;
 /* background-color: deeppink; */
}

.page8_part3_left_part1{
 height: 20%;
 width: 100%;
 /* background-color: rgb(27, 109, 172); */
 display: flex;
 justify-content: start;
 align-items: center;
 padding-left: 3vh;
}
  .page8_part3_left_part1 .minus_div1 p{
    background-color: #a000a6;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-radius: 2vh;
    font-weight: 500;
  }

.page8_part3_left_part2{
 height: 20%;
 width: 100%;
 /* background-color: rgb(187, 218, 11);  */
 display: flex;
 justify-content: start;
 align-items: center;
}

.page8_part3_left_part3{
 height: 20%;
 width: 100%;
 /* background-color: rgb(0, 157, 230); */
 display: flex;
 justify-content: start;
 align-items: center;
}

.page8_part3_left_part4{
 height: 20%;
 width: 100%;
 /* background-color: rgb(218, 0, 234);  */
 display: flex;
 justify-content: start;
 align-items: center;
}


.page8_part3_left_part5{
 height: 20%;
 width: 100%;
 /* background-color: rgb(12, 19, 221);  */
 display: flex;
 justify-content: start;
 align-items: center;
}





.page8_part3_right{
 height: 100%;
 width: 50%;
 /* background-color: rgb(77, 30, 55); */
}


.page8_part3_right_part1{
 height: 20%;
 width: 100%;
 /* background-color: rgb(12, 19, 221); */
 display: flex;
 justify-content: start;
 align-items: center;
 padding-left: 3vh;
 margin: auto;
}
.minus_div1{
    display: flex;
    justify-content:start;
    align-items:center;
    padding-left: 2vh;
    
}

.sign_div1 p{
     background-color: #a000a6;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-radius: 2vh;
    font-weight: 500;
}

.page8_part3_right_part2{
 height: 20%;
 width: 100%;
 /* background-color: rgb(218, 0, 234);  */
  display: flex;
 align-items: center;
 justify-content: start;
}

.minus_div2{
    display: flex;
    justify-content:start;
    align-items:center;
    padding-left: 2vh;
    gap: 2vh;
}

.page8_part3_right_part3{
 height: 20%;
 width: 100%;
 /* background-color: rgb(180, 230, 0); */
  display: flex;
 align-items: center;
 justify-content: start;
}

.minus_div3{
    display: flex;
    justify-content:start;
    align-items:center;
    padding-left: 2vh;
    gap: 2vh;
}


.page8_part3_right_part4{
 height: 20%;
 width: 100%;
 /* background-color: rgb(0, 38, 230); */
  display: flex;
 align-items: center;
 justify-content: start;
}

.minus_div4{
    display: flex;
    justify-content:start;
    align-items:center;
    padding-left: 2vh;
    gap: 2vh;
}

.page8_part3_right_part5{
 height: 20%;
 width: 100%;
 /* background-color: rgb(230, 0, 184); */
 display: flex;
 align-items: center;
 justify-content: start;
}

.minus_div5{
    display: flex;
    justify-content:start;
    align-items:center;
    padding-left: 2vh;
    gap: 2vh;
}

.sign_div1{
    display: flex;
    padding-left: 2vh;
}
.sign_div2{
    display: flex;
    gap: 2vh;
    padding-left: 2vh;
}
.sign_div3{
    display: flex;
    gap: 2vh;
    padding-left: 2vh;
}
.sign_div4{
    display: flex;
    gap: 2vh;
    padding-left: 2vh;
}
.sign_div5{
    display: flex;
    gap: 2vh;
    padding-left: 2vh;
}

.page8_part4{
    display: flex;
   justify-content: center;
   padding-top: 3vh;
}

.chat_div{
    display: flex;
}

/* page9 start here */

.page9{
    height: 52vh;
    width: 62.5vw;
    background-color: rgb(3, 19, 13);
    padding-top: 5vh;
    display: flex;
    gap: 0.5vh;
    flex-direction: column;
    border-radius: 5vh;
}

.need_help{
    display: flex;
     justify-content:center ;
    align-items: center;
    gap: 3vh;
}
.need_help img{
    height: 100px;
    width:80px;
    object-fit: cover;
    object-position: center;
    padding-bottom: 1.4vh;
}

 h1{
      text-align:center;
      margin-bottom:30px;
      font-size: 5.5vh;
      font-size: 72px;
      background: -webkit-linear-gradient(#fafafa, #fc10f8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .faq-item{
      background:#fff;
      margin-bottom:10px;
      border-radius:5px;
      box-shadow:0 2px 4px rgba(0,0,0,.1);
      padding:15px;
      
    }
    .faq-question{
      cursor:pointer;
      font-weight:600;
    }
    .faq-answer{
      display:none;
      margin-top:10px;
    }


    /*  footer part start here  */
       
    .footer{
        height: 60vh;
        width: 99vw;
        background-color: #000000;
        color: white;
    }

    .footer_top{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
   .footer_top .footer_top_left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
    .footer_top .footer_top_left img{
     height: 200px;
     width: 200px;
      object-fit: cover;
      object-position: center;
       border-radius: 50%;
       margin-top: 10px;
       margin-left: 150px;
    }

     .footer_top .footer_top_left h4{
        padding-top: 20px;
        padding-left: 200px;
        font-size: 30px;
     }

  .footer_top .footer_top_right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-right: 200px;
   }



 /* .footer_top h2{
  font-size:50px ;
 } */

 .footer_top h2 span{
  color: #0432ff;
 }

    /* .footer_top img{
        height: 100px;
    } */

    .footer_bottum{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    }

    .footer_bottum_left{
     
    }
#privacy_policy a{
    color: rgb(0, 193, 223);
}

    .footer_bottum_right{
        
    }

    .ri-linkedin-box-line{
        font-size: 5vh;
    }
    .ri-instagram-line{
        font-size: 5vh;
    }

    .ri-twitter-fill{
        font-size: 5vh;
    }
    .ri-whatsapp-line{
        font-size: 5vh;
    }
    .ri-facebook-circle-line{
     font-size: 5vh;
    }
    /* footer part end here */









